<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>

      <H2>My profile</h2>
            <%= f.input :first_name, placeholder:'First Name'  %>
            <%= f.input :last_name, placeholder:'Last Name'  %>
            <%= f.input :mobile, placeholder:'mobile'  %>

      <H2>Photos</h2>
      <%= f.input :profile_photo, as: :file, hint: 'Upload your profile picture' %>

      <H2>My preferences</h2>
        <%= f.input :district, as: :radio_buttons, collection: ['Mitte', 'Charlottenburg', 'Kreuzberg','Prenzlaeur Berg', 'Schöneberg', 'Friedrichshain', 'Wilmesdorf', 'Neukölln','Tiergarten', 'Steglitz', 'Friedenau'],hint: 'Kreuzberg, Neukölln' %>

        <%= f.input :street  %>
        <%= f.input :post_code, placeholder: 'add your postcode' %>
        <%= f.input :city, as: :radio_buttons, collection: ['Berlin', 'London', 'Paris', 'Amsterdam'] %>

        <%= f.input :total_rent, as: :decimal %>
        <%= f.input :property_type,as: :radio_buttons, collection: ['House', 'Flat'], selected: 'Flat'  %>
        <%= f.input :square_meter, as: :integer %>
        <%= f.input :bathroom, as: :radio_buttons, collection: 1..3, selected: 1   %>
        <%= f.input :bedroom, as: :radio_buttons, collection: ['1','2','3','4','5','6+']   %>
        <%= f.input :type_heating, as: :radio_buttons, collection: ['Central heating', 'Gaz', 'Electricity'] %>



    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
