<div class ="uk-background-default container">
  <!-- <hr class="uk-divider-icon"> -->

  <header class="py-2 bg-image-full">
   <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto border-circle">
                <%= cl_image_tag @user.profile_photo%>
            </div>

</header>

<h4>My Profile <%= resource_name.to_s.humanize %></h4>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

<div class="form-inputs">
<%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

 <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
 <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>


    <!-- Home details -->
    <!-- <uk-h4>House details</h4> -->

        <%= f.input :first_name, placeholder:'John'  %>
        <%= f.input :last_name, placeholder:'DOE'  %>
        <%= f.input :mobile, placeholder:'06 23 45 34 56'  %>
        <%= f.input :profile_description, placeholder:'My name is Bond, James Bond. I drive nice cars, meet nice girls and travel the world.'  %>

        <%= f.input :profile_photo, as: :file, hint: 'Upload your profile picture' %>

      <hr class="uk-divider-icon">
      <H4>My preferences</h4>
        <%= f.input :district, as: :select, collection: ['Mitte', 'Charlottenburg', 'Kreuzberg','Prenzlaeur Berg', 'Schöneberg', 'Friedrichshain', 'Wilmesdorf', 'Neukölln','Tiergarten', 'Steglitz', 'Friedenau'],hint: 'Kreuzberg, Neukölln' %>

       <!--  <%= f.input :street  %>
        <%= f.input :post_code, placeholder: 'add your postcode' %>
        <%= f.input :city, as: :select, collection: ['Berlin', 'London', 'Paris', 'Amsterdam'] %> -->

        <%= f.input :total_rent, as: :decimal %>
        <%= f.input :property_type,as: :select, collection: ['House', 'Flat'], selected: 'Flat'  %>
        <%= f.input :square_meter, as: :integer %>
        <%= f.input :bathroom, as: :select, collection: 1..3, selected: 1   %>
        <%= f.input :bedroom, as: :select, collection: ['1','2','3','4','5','6+']   %>
        <%= f.input :type_heating, as: :select, collection: ['Central heating', 'Gaz', 'Electricity'] %>

    <%= f.button :submit, "Update", class:"uk-button uk-border-pill uk-button-danger uk-scrollspy-inview uk-animation-fade text-center mb-3 uk-width-1-1" %>
  </div>
<% end %>

<!-- <h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->
<!--
<%= link_to "Back", :back %> -->

</div>
