<div class="container">
<% @flats.each_with_index do |flat, index| %>
  <div class="flat-box <%= 'active' if index == 0 %> ">
    <%= render "carousel" %>
    <p class="text-center"><small class="text-muted"> <%= flat.address %></p></small>
    <h4 class="text-center"><%= flat.title %></h4>
    <div class="container d-flex flow-row mb-3 ">
      <p class="mx-1" ><i class="fas fa-home mr-1"></i><%= flat.bedroom + 1 %></p>
      <p class="mx-1" ><i class="fas fa-home mr-1"></i><%= flat.total_rent %></p>
      <p class="mx-1" ><i class="fas fa-home mr-1"></i><%= flat.square_meter %></p>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-danger">NO</button>
      <button class="btn-success btn like-btn" data-user-id=<%= flat.user_id %>, data-flat-id=<%= flat.id %> >LIKE</button>
    </div>
      <%= link_to "More Information", flat_path(flat) %>
  </div>
<% end %>
</div>
