<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-border-rounded">
  <div class="flat_card">
        <!-- Flat Description -->
        <%= link_to flats_path do %>
            <span uk-icon="chevron-left" class="uk-margin-remove"></span> Back
        <% end %>
        <hr class="uk-divider-icon uk-margin-remove uk-text-meta ">
        <dl class="uk-description-list">
            <dt class="uk-text uk-text-bold uk-text-primary">Description</dt>
            <dd class="uk-dropcap uk-text-bold"><%= @flat.description %></dd>
        </dl>

        <!-- Flat Extras -->
        <hr class="uk-divider-icon">
        <dl class="uk-description-list">
          <dt class="uk-flex uk-text-bold uk-text-primary">Features</dt>
            <p class="mx-1" ><i class="fas fa-bed mr-1"></i><%= @flat.bedroom%></p>
            <p class="mx-1" ><i class="fas fa-bath mr-1"></i><%= @flat.bathroom%></p>
            <p class="mx-1" ><i class="fas fa-burn mr-1"></i><%= @flat.type_heating %></p>
            <p class="mx-1" ><i class="fas fa-home mr-1"></i><%= @flat.square_meter %></p>
          </dl>

                <!-- Carousel Flat Pictures -->

        <hr class="uk-divider-icon uk-margin-remove uk-text-meta ">
        <dl class="uk-description-list">
            <dt class="uk-text uk-text-bold uk-text-primary">Photos</dt>
            <%= render "flats/carousel", flat: @flat %>
        </dl>


        <hr class="uk-divider-icon">


                <!-- Flat Location -->
                <dl class="uk-description-list">
                <dt class="uk-text-bold uk-text-primary">Flat Location</dt>
                  <div
                    id="map"
                    style="width: 100%;
                    height: 600px;"
                    data-markers="<%= @markers.to_json %>"
                    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
                    class="uk-box-shadow-small uk-border-rounded"
                  ></div>
                  <br>
                  <a href="#" uk-totop uk-scroll, class="uk-text-primary">Top</a>
          </div>

</div>



        <!-- TOP CONTAINER -->
