<header class="py-2 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1076');" >
    <img class="img-fluid d-block mx-auto" src="https://uidesign.gbtcdn.com/gb_blog/author/Steve-Lowry-2.png" alt="">
</header>
<!-- add the source to the owner flat -->

<h2>My contact details</h2>
<section class="py-5">
  <div class="container">
    <p class="lead">
      <ul>
        <li><%= @user.first_name %></li>
        <li><%= @user.last_name %></li>
        <li><%= @user.mobile %></li>
      </ul>

      <strong>Flat Owner</strong>
        </h2>
          <p> <%= @user.first_name %> <%= @user.last_name %>|
              <%= @user.email %>
          </p>

    <div class="container d-flex flow-row mb-3">
      <p class="mx-1" ><i class="fas fa-home mr-1"></i><%= @user.district %></p>
      <p class="mx-1" ><i class="fas fa-home mr-1"></i><%= @user.square_meter %></p>
      <p class="mx-1" ><i class="fas fa-home mr-1"></i>Squaremeters</p>
    </div>


  <!-- Flat Location -->
  <h2>Flat Location</h2>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
</section>
