
<h1>Your matches</h1>
<br>
<% @matches.each do |match| %>
<div class="card-product">
  <% flat = match.other_party(current_user.flat) %>
  <img src=<%= flat.photo%> />
  <div class="card-product-infos">

    <h2><strong><%= flat.id%> <%= flat.street %> - <%= flat.post_code %> <%= flat.district %></strong></h2>
    <p><%= flat.description %> in <%= flat.district %> </p>
  </div>
  <div class="btn-group btn-group-sm d-flex align-items-end" role="group" aria-label="Basic example">
  <%= link_to "See more", match_path(match), class: "btn btn-danger btn-block btn-sm mt-2" %>
  </div>
</div>
<br>
<% end %>

